
body {
    background-color: #272548;
}
.main-container {
    font-family: Monaco, monospace ;
    background-color: #e2c674;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.btn-custom {
    background-color: #272548;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn-custom:hover {
    background-color: #272538;
    transform: scale(1.1);
}
.form-control {
    border-radius: 5px;
}
footer {
    font-family: Monaco, monospace;
    text-align: center;
    padding: 20px;
    background-color: #e2c674;
    border-top: 1px solid #ddd;
}
